/* --------------------- */
/*     CSS Variables     */
/* --------------------- */
:root {
  --primary: #000;
  --dark: #ec482e;
  --light: #999;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--primary);
}

body {
    background: #fff; 
    margin: 30px 90px;
    line-height: 1.4;
    
}

/* navigation */
.main-nav a {
  text-decoration: none;
  color: var(--primary);
  letter-spacing: 2px;
}

.main-nav a:hover {
  color:var(--dark);
  text-decoration: underline;
}

.main-nav ul {
  float:left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav li {
  display: inline;
  padding-right: 1.3em;
}

/* site title */
.site-title a {
  float: right;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  color: var(--primary);
  letter-spacing: 2px;
}

.site-title a:hover {
  color:var(--dark);
  text-decoration: underline;
}

.color {
  color: var(--dark);
}

/* paragraph styles */
h3 {
  margin: 5px 0;
}

h4 {
  font-size: 18px;
  line-height: 2.3em;
  font-weight: none !important;
}

p {
  line-height: 1.5em;
}

li {
  line-height: 2.3em;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.login-bg {
  box-shadow: var(--shadow);
  background-color: #fffce0;
  padding: 1em;
  width: 300px;
}
/* --------------------- */
/*      INDEX.HTML       */
/* --------------------- */
/* header */
.top-container-main {
  padding: 120px 150px;
  clear: left;
}

/* banner */
.home-banner {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 2.3em;
}

/* portfolio grid */

.wrapper-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

img {
  max-width: 100%;
  box-shadow: var(--shadow);
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  padding: 0 10px;
  margin: auto;
}

.box {
  text-align: center;
  padding: 0.5em 1em;
}

/* ....................... */
/*       media query       */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  body {
    margin: 30px 30px;
    }

    .wrapper-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      grid-auto-rows: minmax(100px, auto);
    }
   
    .top-container-main {
      padding: 70px 90px;
      clear: left;
    }

    .box {
      text-align: center;
      padding: 0.5em 1em;
    }
  }
  
  /* Additional Screen Sizes */
  /* Width at 400px and below */
  @media screen and (max-width: 400px) {
    body {
      margin: 30px 30px;
      }

    .top-container-main {
      padding: 20px 40px;
      clear: left;
    }

    .wrapper-main {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 1em;
      grid-auto-rows: minmax(100px, auto);
    }

    .home-banner {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      text-align: center;
      line-height: 2.3em;
     }
  }
  
/* --------------------- */
/*       ABOUT.HTML      */
/* --------------------- */
/* overview */
.about-me {
  display: grid;
  grid-template-columns:  40% 55%;

  grid-gap: 2.3em;
  /* display: grid;
  grid-template-columns: 40% 55%;
  padding: 0 10px; */
  /* margin: auto; */
}

.about-info {
  width: 90%;
  line-height: 2em;
  font-size: 18px;
}


/* contact */
.icons {
  max-height: 30px;
  display: inline;
  box-shadow: none;
}

.contact-me {
  padding: 0 10px;
  margin-top: 40px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 50px;
}

.contact-info a {
  text-decoration: underline;
  color: var(--primary);
  letter-spacing: 2px;
}

.contact-info h4 {
  font-size: 18px;
  font-weight: none !important;
  line-height: 1em;
}

/* ....................... */
/*       media query       */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  body {
    margin: 30px 30px;
    
    }


/* .wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1em;
} */

    .profile-pic {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 1em;
      
    }

    .about-me {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 1em;
      
    }

  
  }
  
  /* Additional Screen Sizes */
  /* Width at 400px and below */
  @media screen and (max-width: 400px) {
    body {
      margin: 30px 30px;
      }
    }
  


/* --------------------- */
/*      RESUME.HTML      */
/* --------------------- */

.education-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.schools {
  box-shadow: var(--shadow);
  /* background-color: #e2dddd; */
  padding: 0.5em;
}

.schools {
  text-align: center;
  padding: 0.5em;
}


/* icons */


.fab {
  font-size: 3rem;
  color: #525252;
}
.fas {
  font-size: 1.2rem;
  color: #525252;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align:center;
}

.tech-icons {
  margin-top: 30px;
  padding-top: 20px;
  box-shadow: var(--shadow);
}

.tech-icons p {
  color: #525252;
}

.tech-icon-image {
  box-shadow: none;
  width: 45px;
}

/* --------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  color: #222;
  font-family: 'Lato';
}

.container-chart {
  padding: 50px;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* END Keyframes for the initial animation */


/* --------------------- */
/*      ALL PROJECTS     */
/* --------------------- */

/* header */
.top-container-sub {
  padding: 100px 10px 50px 10px;
  clear: left;
}

/* project photo */
.showcase-image {
 margin-top: 30px;
}

/* project info */
.introduction {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1em;
  padding: 0 10px;
}


/* project title */
.project-title {
  padding: 0 10px;
}

.second-title {
  margin-top: 50px;
}



